<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <%= link_to admin_root_path, class: "brand-link" do %>
  <%= image_tag "boconganh.jpg", class: "brand-image img-circle elevation-3", style: "opacity: .8" %>
    <span class="brand-text font-weight-light">Bun's House</span>
  <% end %>

  <div class="sidebar">
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
          <%= link_to admin_root_path, class: "nav-link" do %>
            <i class="nav-icon fa fa-calendar"></i>
            <p>Post</p>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to admin_messages_path, class: "nav-link" do %>
            <i class="nav-icon fa fa-envelope-o"></i>
            <p>Messages</p>
          <% end %>
        </li>
      </ul>
    </nav>
  </div>
</aside>
