<article class="one_third <%= "first" if [1, 4, 7, 10, 13].include?(index) %>">
  <figure><a href="#"><img src="assets/demo/320x220.png" alt=""></a>
    <figcaption>
      <time datetime="2045-04-06T08:15+00:00"><strong>06</strong> <em>Apr</em></time>
    </figcaption>
  </figure>
  <div class="txtwrap">
    <h4 class="heading"><%= post.title %></h4>
    <ul class="nospace meta">
      <li>by <a href="#">Admin</a></li>
      <li>in <a href="#">Category Name</a></li>
    </ul>
    <p><%= post.body[0,100]%>&hellip;</p>
    <footer><a href="#">Read More &raquo;</a></footer>
  </div>
</article>
