<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Post</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Post</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <%= link_to "New", new_admin_post_path, style: "float: right" %>
      </div>
      <div class="card-body">
        <table id="example2" class="table table-bordered table-hover">
          <thead>
          <tr>
            <th>Image</th>
            <th>Title</th>
            <th>Body</th>
            <th>Category</th>
            <th>Updated at</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
            <%= render @posts %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
